<section class="card">
  <!-- TODO: Link the contents of the card to the painting page using the painting ID -->
  <a href="/painting/{{id}}"></a>
  <!-- TODO: Create the card header with the painting's title -->
  <header>{{title}}</header>

  <div class="card-body">
          <img src="/images/{{filename}}" alt="{{description}}">
          <p>By: {{artist}}</p>
        </div>
      </a>
    </section>